.pop_up {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    z-index: 9;
}

.content {
    position: absolute;
    top: calc(50% - 25vh);
    left: calc(50% - 25vw);
    width: 50vw;
    height: 50vh;
    background: #fff;
    padding: 50px 25px;
    cursor: default;
}
