:root {
    --dark: #2e2e30;
    --semi-dark-transparent-v1: rgba(46, 46, 48, 0.1);
    --semi-dark-transparent-v2: rgba(46, 46, 48, 0.2);

    --light: #f5f4f3;
    --semi-light-transparent-v1: rgba(255, 255, 255, 0.1);
    --semi-light-transparent-v2: rgba(255, 255, 255, 0.2);

    --navigation-width: 200px;
}

* {
    color: inherit;
    font-size: 1em;
    text-decoration: none;
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    min-height: 100vh;
    grid-template-areas: 'header header' 'nav main';
    grid-template-columns: 0 1fr;
    grid-template-rows: 50px 1fr;
    transition: all 0.5s;
}

body:has(nav#main-navigation.active) {
    grid-template-columns: var(--navigation-width) 1fr;
}

header {
    position: relative;
    display: grid;
    grid-auto-flow: column;
    grid-area: header;
    align-items: center;
    background-color: var(--dark);
    color: var(--light);
    padding: 0.25em 0.5em;
}

main {
    position: relative;
    grid-area: main;
}

nav#main-navigation {
    position: relative;
    grid-area: nav;
    background-color: var(--dark);
    color: var(--light);
    border-top: 1px solid var(--semi-light-transparent-v1);
}

button {
    cursor: pointer;
}
