.button {
    padding: 0.25em 0.5em;
    border-radius: 5px;
    transition: all 0.25s;
}

.button.dark {
    background-color: var(--semi-light-transparent-v2);
    color: var(--light);
}

.button.dark:hover {
    background-color: var(--light);
    color: var(--dark);
}

.button.light {
    background-color: var(--light);
    color: var(--dark);
}

.button.light:hover {
    background-color: var(--semi-light-transparent-v2);
    color: var(--light);
}